.contenedor-devoluciones {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    padding: 24px;
    padding-left: 100px;
    justify-items: center;
    text-align: center;
}
.contenedor h1 {
    color: #ffffff;
    font-size: 3 rem;
    margin-bottom: 24px;
    text-align: center;
}

/* Responsive: 3 columnas en pantallas medianas */
@media (max-width: 900px) {
    .contenedor-devoluciones {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 25px; /* Aumentado */
    }
}

/* Responsive: 1 columna en pantallas pequeñas */
@media (max-width: 600px) {
    .contenedor-devoluciones {
        grid-template-columns: 1fr;
        padding: 12px;
        gap: 20px; /* Aumentado */
    }
}
